{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Plugin Key Generator plugin for Craft CMS
 *
 * PluginKeyGeneratorUtility Utility Content
 *
 * @author    Brilliance
 * @copyright Copyright (c) 2022 Brilliance
 * @link      https://www.brilliancenw.com/
 * @package   PluginKeyGenerator
 * @since     3.0.0
 */
#}

{% import "_includes/forms" as forms %}

<h1>Craft CMS Plugin Key Generator Utility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@brilliance/pluginkeygenerator/assetbundles/pluginkeygeneratorutilityutility/dist', true) ~ '/img/PluginKeyGeneratorUtility-icon.svg' %}

{#<img src="{{ iconUrl }}" height="64" width="64" />#}

<p>This plugin key generator allows plugin developers to create license keys for their customers.  These keys bypass the Plugin store, and can be used for perpetual licenses, giveaways, short-term trials, etc.</p>
<p>Of course, this only will function on plugins that are currently managed by your account with your username.</p>
<p>Reference: <a href="https://docs.api.craftcms.com/plugin-licenses.html" target="_blank">https://docs.api.craftcms.com/plugin-licenses.html</a></p>

<a href="{{ cpUrl('settings/plugins/plugin-key-generator') }}">Visit the Settings Page to set your Craft Console Account Settings</a>

<form action="{{ actionUrl('plugin-key-generator/default/generate-key') }}" method="post" id="pluginkeygenerator">
    {{ csrfInput() }}

    {% if settings.pluginHandles | length > 0 %}
        {% set handles = settings.pluginHandles | split(',') %}
        <h3>Plugin Handle</h3>
            {{ forms.select({
                label: "Plugin Handle",
                name: "plugin",
                options: handles
            }) }}
        {% else %}
            {{ forms.textfield({
                label: "Plugin Handle",
                name: "plugin",
            }) }}
    {% endif %}

    {% if settings.pluginEditions | length > 0 %}
        {% set editions = settings.pluginEditions | split(',') %}
        <h3>Plugin Edition</h3>
        {{ forms.select({
            label: "Plugin Edition Handle",
            name: "edition",
            options: editions
        }) }}
    {% else %}
        {{ forms.textfield({
            label: "Edition Handle",
            placeholder: "standard",
            name: "edition"
        }) }}
    {% endif %}

    {{ forms.textfield({
        label: "Customer Email Address",
        name: "email"
    }) }}

    <h3>Can the license Key Expire?</h3>
    {{ forms.lightswitch({
        name: "expirable"
    }) }}
    <h3>Expiration Date</h3>
    {{ forms.date({
        label: "Expiration Date",
        name: "expiresOn"
    }) }}
    <h3>Customer Notes (customer can read these!)</h3>
    {{ forms.textarea({
        label: "Customer Notes",
        name: "notes"
    }) }}
    <h3>Private Notes (never shared with the customer)</h3>
    {{ forms.textarea({
        label: "Customer Notes",
        name: "privateNotes"
    }) }}

    <br>

    <input type="submit" class="btn submit" value="Generate Key" />
</form>
